.container {
    width: 90%;
    height: 100vh;
    margin: 0 auto;
}
body {
    background-image: url(../assets/fruit-4837060_1920.png);
    background-position: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}
header > h1 {
    font-size: 60px;
    display: flex;
    gap: 5px;
}

header > h1 > span:nth-child(1) {
    color:aqua;
}
header > h1 > span:nth-child(2) {
    color: yellow;
}
header > h1 > span:nth-child(3) {
    color: yellowgreen;
}
header > h1 > span:nth-child(4) {
    color: orange;
}
header > h1 > span:nth-child(5) {
    color: lightgreen;
}
header > h1 > span:nth-child(8) {
    color: purple;
}
header > h1 > span:nth-child(9) {
    color: yellowgreen;
}
header > h1 > span:nth-child(10) {
    color: deeppink ;
}
header > h1 > span:nth-child(11) {
    color: red;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e5e5e5;
    height: 570px;
    border-radius: 4px;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.8);
}

.pagina_inicio {
    position: relative;
    display: flex;
    background-image: url(../assets/FRUIT-GAME.png);
    background-size: cover;
    width: 100%;
    height: 100%;
}

.pagina_jogo {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
}
.box_instrucoes {
    width: 250px;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: white;
}
.box_instrucoes > img {
    width: 100%;
}
.parte_jogo {
    width: 900px;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: end;
}

#botao_inicio {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px 15px;
}
#botao_jogar {
    position: absolute;
    padding: 10px 40px;
    bottom: 5px;
    right: 310px;
}
#botao_reiniciar {
    position: absolute;
    bottom: 150px;
    left: 550px;
}

.pagina_escondida {
    display: none;
}

.caixa_fruta {
    position: absolute;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box_cestas {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.cesta {
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
}
.uva {
    background-image: url(../assets/uvava.png);
    background-size: cover;
}
.cesta-uva {
    background-image: url(../assets/cesta-uva.png);
    background-size: cover;
}
.maca {
    background-image: url(../assets/mamaca.png);
    background-size: cover;
}
.cesta-maca {
    background-image: url(../assets/cesta-maca.png);
    background-size: cover;
}
.banana {
    background-image: url(../assets/bananana.png);
    background-size: cover;
}
.cesta-banana {
    background-image: url(../assets/cesta-banana.png);
    background-size: cover;
}
.melancia {
    background-image: url(../assets/melancia.png);
    background-size: cover;
}
.cesta-melancia {
    background-image: url(../assets/cesta-melancia.png);
    background-size: cover;
}

.cesta > .caixa_fruta {
    position: static;
    width: 60px;
    height: 80px;
    background-size: 200%;
    background-position: center;
}
.pagina_final {
    background-image: url(../assets/imagem-final.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: left;
}

.dragging {
    opacity: 0.5;
}